<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/265887bd-5dbb-49a8-a80f-f8dafe91d833/resourcegroups/CalcJuros20190508121109ResourceGroup/providers/Microsoft.ContainerRegistry/registries/CalcJuros20190508121109</ResourceId>
    <ResourceName>CalcJuros20190508121109</ResourceName>
    <ResourceGroup>CalcJuros20190508121109ResourceGroup</ResourceGroup>
    <Subscription>Avaliação Gratuita</Subscription>
    <RegistryUrl>https://calcjuros20190508121109.azurecr.io/</RegistryUrl>
    <UserName>CalcJuros20190508121109</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cca30b67-18de-4d22-b0da-30776293e67c</ProjectGuid>
  </PropertyGroup>
</Project>